@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Poppins", san-serif;
    font-weight: 350;
    color:#d3b86e;
    margin-top: 50px;

}

h1, h2 {
    font-family:"Hachi Maru Pop", sans-serif;
    text-align:center;
    color: #d3b86e;
    padding: 5px 5px 15px 5px;
    /* padding-bottom: 15px; */
    
    
}
#logo { 
    float:left;
    font-size:xx-large;
    padding:0px !important;
}

#menu {
    float: right;
}

#menu li {
    color: #d3b86e;
    font-size:large;
    list-style-type: none;
    display:inline;
    margin-inline: 5px;
}

#menu a{
    text-decoration: none;
    color:inherit;
    padding:5px;
}

#menu a:hover {
    text-decoration: underline;
}

#menu, #logo {
    line-height: 50px;
}

#hero-image img {
    width:100%;
}

.navbar {
    background-color: #25311d;
    width:100%;
    height: 50px;
    position:fixed;
    top: 0;
}

.current-page {
    background-color: #d3b86e;
    color:#25311d !important;
    border-radius: 5px;
}

#chapter-container-outside {
    display:flex;
    justify-content: center;
    flex-flow: wrap;
    width:100%;   
}



.chapter-container-inside {
    width: 450px;
    height: 775px;
    background-color: #25311d;
    border-radius: 50px;
    text-align:center;
    margin: 5px;
}

@media screen and (max-width:450px){
    .chapter-container-inside{ 
        width:100%;
        margin:0;
    }

}

.chapter-container-inside div {
    /* width: 450px; */
    height: 450px;
}

p {
    padding: 0 5px;
}

.chapter-image img {
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 50px 50px 0 0;
    overflow:hidden;
}

hr {
    height: 70px;
    width: 100%;
    background-size: contain;
    background-image: url("../images/divider.jpg");
}

footer {
    background-color: #25311d;
    width:100%;
    height: 100px;  
    bottom: 0;
    /* position:absolute;  */
}

footer ul {
    text-align:center;
}

footer li {
    display:inline;
    line-height: 100px;
}

footer i {
    color:#d3b86e;
    font-size: x-large;
    padding: 5px;
    margin: 5px;
}

#contact-us-container {
    width: 450px;
    height: 225px;
    background-color: #25311d;
    border-radius: 50px;
    text-align:center;
    margin: auto;
}

.info-container {
    width:90%;
    /* padding: 50px 0; */
    border-radius: 50px;
    color:#25311d;
    /* background: #25311d; */
    height:500px;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    display:flex;
    justify-content:space-between;
}

.info-container-image {
    width:33%;
    height:100%;
    /* display:inline; */
}

.contact-us-image {
    width:100%;
    height:100%;
}

.contact-us-image img {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
    /* border-radius: 50px 0 0 50px; */
    border-radius: 50px;
    bottom:0;
}

.info-container-image img {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
    /* border-radius: 50px 0 0 50px; */
    border-radius: 50px;
}

.info-container-content {
    /* padding-top: 50px; */
    /* padding-left:50px; */
    width:67%;
    height:100%;
    /* text-align: center; */
  
}

.info-container-content li {
    list-style-position: inside;
    list-style-type: circle;
}

.padding-left {
    padding-left:50px;
}

.padding-right {
    padding-right:50px;
}

button {
    width: 150px;
    height: 50px;
    background-color: #d3b86e;
    color:#25311d;
    border-radius: 15px;
}

button a {
    text-decoration: none;
    color:#25311d;
    font-family: "Poppins", san-serif;
    font-weight: bold;
    font-size: large;
}

.inner-page {
    max-width: 1920px;
    margin:auto;
    min-height: 65vh;
}

.shopping-list {
    column-count: 2;
}

.contact-us-form {
    width: 900px;
    margin:auto;
    background-color: #25311d;
    border-radius: 50px;
    padding:1%
}

#left-column {
    width: 450px;
    float:left;
    padding: 1%;
    box-sizing: border-box;
}

#right-column {
    width: 450px;
    float: right;
    padding: 1%;
    box-sizing: border-box;
}

.contact-us-form input {
    width:100%;
    border: 1px solid #d3b86e;
    border-radius: 5%;
}

#feedback {
    width:66%;
    margin:auto;
    padding-bottom: 25px;
}

#feedback input {
    height:5em;
}

.contact-us-form hr {
    filter: invert(100%);
}